*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.banner {
  position: fixed;
  top: 0;
  display: block;
  width: 100%;
  height: 10%;
  background-color: transparent;
  z-index: 1;
}

.restaurant_name {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: 'Satisfy', sans-serif;
  font-size: 2.4rem;
}

.language-selector {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: auto;
  width: 10rem;
  height: 10rem;
  top: 20%;
  right: 4%;
  z-index: 2;
}

.language-selector__button {
  display: inline-block;
  color: transparent;
  border-color: transparent;
  background-color: transparent;
}

.language-selector__flag-box {
  display: inline-block;
  width: 7rem;
  height: 7rem;
  margin-right: 3px;
  background-size: cover;
  background-position: center;
  background-image: url(../img/uk.png);
  -webkit-clip-path: circle(3.5rem at 50%);
  clip-path: circle(3.5rem at 50%);
}

.logo-box {
  position: fixed;
  display: block;
  width: 8rem;
  height: 8rem;
  left: 10%;
  top: 5%;
  background-color: #645736;
  -webkit-clip-path: circle(4rem at 50%);
  clip-path: circle(4rem at 50%);
  z-index: 1;
}

.main-title {
  position: absolute;
  display: block;
  bottom: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 3;
  font-size: 3rem;
  text-transform: uppercase;
  font-family: 'Rubik', sans-serif;
  background: url(../img/title_bg.jpg);
  background-size: cover;
  background-position: bottom;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.menu-item {
  margin-bottom: 3rem;
}

.menu-item:first-child {
  margin-top: 12rem;
}

.menu-item__title {
  text-align: center;
}

.menu-item__title h2 {
  text-transform: uppercase;
  color: #645736;
  padding-bottom: 5px;
  text-decoration: overline underline;
  text-shadow: 2px 2px 2px #fff;
  letter-spacing: 2px;
  font-family: 'Rubik', sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.menu-item__items {
  padding: 0 1rem 0 1rem;
}

.menu-item__item-list {
  list-style: none;
}

.menu-item__dish {
  display: block;
  position: relative;
  height: 5rem;
  background-color: #F8F2C7;
  margin: 2.2rem 0 2.2rem 0;
}

.menu-item__dish--number {
  display: inline-block;
  position: absolute;
  z-index: 1;
  top: 20%;
  left: -5%;
  height: 3rem;
  width: 3rem;
  line-height: 2.8rem;
  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-size: 1.8rem;
  color: #1a180b;
  background-color: #645736;
  border-radius: 1.5rem;
}

.menu-item__dish--title {
  display: inline-block;
  line-height: 4.8rem;
  margin: 0 1rem 0 2rem;
  font-family: 'Rubik', sans-serif;
  font-size: 2rem;
  color: #000;
}

.menu-item__dish--price {
  display: inline-block;
  position: absolute;
  right: 40%;
  line-height: 4.8rem;
  margin: 0 2rem 0 2rem;
  font-family: 'Rubik', sans-serif;
  font-size: 1.5rem;
  color: #000;
}

.menu-item__dish--photo {
  display: inline-block;
  position: absolute;
  z-index: 0;
  width: 6rem;
  height: 6rem;
  right: -10%;
  top: -15%;
  background-color: blue;
  border-radius: 3rem;
}

.header {
  margin: 2rem;
  position: absolute;
  width: calc(100vw - 4rem);
  height: 40vh;
  opacity: 80%;
  background-color: #1a180b;
  z-index: -1;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 30%, 0 70%);
  clip-path: polygon(0 0, 100% 0, 100% 30%, 0 70%);
}

/* @media screen and (min-width: 400px) and (max-width: 600px) {
    .header{
        &__main-title {
            left: 12%;
            bottom: 47%;
        }
    }
} */
/* @media screen and(max-width: 450px) and (min-height: 800px) {
    .header {
        &__main-title {
            transform: rotate(-20deg);
        }
    }
} */
/* @media screen and(max-width: 350px) {
    .header {
        &__main-title {
            left: 10%;
            font-size: 2rem;;
        }
    }
}
 */
/* @media screen and(max-width: 375px) and (min-height: 800px) {
    .header {
        &__main-title {
            transform: rotate(-21deg);
        }
    }
} */
.main {
  position: absolute;
  top: 14%;
  width: 100vw;
  height: auto;
  min-height: 150%;
  padding: 5rem 4rem 15rem 4rem;
  background-image: -webkit-gradient(linear, left bottom, right top, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.1))), url(../img/main_bg.png);
  background-image: linear-gradient(to right top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/main_bg.png);
  background-size: cover;
  background-position: center;
  -webkit-clip-path: polygon(0 8.8%, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 8.8%, 100% 0, 100% 100%, 0 100%);
}

.sticky {
  position: fixed;
  top: 0;
}
/*# sourceMappingURL=main.css.map */