@import '../utilities/mixins';

.app-bar {
    position: fixed;
    height: 10vh;
    width: 100vw;
    display: grid;
    align-items: center;
    grid-template-columns: 25% 50% 25%;

    z-index: 10;

    &__nav-button {
        position: relative;  
        cursor: pointer;
        height: 50%;
        width: auto;
        @include bg-image-center(url('../../public/img/bars.svg'));
        background-size: contain;
    }

    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 90%;

        visibility: hidden;
        @include bg-image-center(url('../../public/img/logo.svg'));
        background-size: contain;

        &::after {
            content: '';
            width: 100%;
        }
    }

}

.app-bar-active {
    background-color: $jet-black;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
}

.app-bar-inactive {
    background-color: transparent;
    box-shadow: none;
}

@media only screen and (min-width: 1100px) {
    .app-bar {
        &__nav-button {
            width: 50%;
        }
    }
}
