@import '../utilities/mixins';

.logo-area {
    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
    width: 100vw;
    padding: 10px;
    margin-bottom: 20px;
}

.logo-container {
    display: block;
    position: relative;
    width: 50%;
    height: 80%;
    @include bg-image-center(url('../../public/img/logo.svg'));
    background-size: contain;
}

.logo-title {
    display: block;
    font-family: 'Poppins', sans-serif;
    color: $white;
    font-size: clamp(32px, calc((100vw - 150px)*0.07), 90px);
}

.logo-subtitle {
    display: block;
    justify-self: flex-start;
    font-family: 'Poppins', sans-serif;
    color: $cadet-blue;
    font-size: clamp(15px, calc((100vw - 150px)*0.03), 70px);
}