@import '../utilities/mixins';

.logo-area {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    width: 100vw;
    padding: 10px;
    margin-bottom: 20px;
}

.logo-container {
    display: block;
    width: 50%;
    height: 80%;
    @include bg-image-center(url('../../public/img/placeholder_logo.png'));
}