.main {
    position: absolute;
    top: 14%;
    width: calc(100vw - 4rem);
    height: auto;
    min-height: 150%;
    padding: 5rem 4rem 15rem 4rem;
    margin: 0 2rem 0 2rem;

    background-image: linear-gradient(to right top, $color-black-extra-transparent, $color-black-extra-transparent),
                      url(../img/main_bg.png);

    background-size: 400% 100%;
    background-position: center;

    -webkit-clip-path: polygon(0 12rem, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 12rem, 100% 0, 100% 100%, 0 100%);

    box-shadow: 50px 50px $color-black;

}

@media screen and(max-width: 400px) and(min-width: 300px) {
    .main {
        padding-top: 3rem;
        -webkit-clip-path: polygon(0 12rem, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 12rem, 100% 0, 100% 100%, 0 100%);
    }
}

@media screen and (max-width: 350px) and (max-height: 580px) {
    .main {
        -webkit-clip-path: polygon(0 10rem, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 10rem, 100% 0, 100% 100%, 0 100%);
    }
}

@media screen and (min-width: 400px) and(min-height: 770px) {
    .main {
        padding-top: 1.5rem;
        -webkit-clip-path: polygon(0 13rem, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 13rem, 100% 0, 100% 100%, 0 100%);
    }
}


@media screen and(max-width: 400px) and(min-height: 750px) {
    .main {
        -webkit-clip-path: polygon(0 14rem, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 14rem, 100% 0, 100% 100%, 0 100%);
    }
}

@media screen and(min-width: 450px) {
    .main {
        -webkit-clip-path: polygon(0 10rem, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 10rem, 100% 0, 100% 100%, 0 100%);
    }
}

// Galaxy Fold
@media screen and(max-width: 300px) {
    .main {
        -webkit-clip-path: polygon(0 11rem, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 11rem, 100% 0, 100% 100%, 0 100%);
    }
}