doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='css/main.css')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap' rel='stylesheet')
  script(type='module' src='../script/script.js')
  title La Caba&ntilde;a
#overlay
include mixins 
+img-bg(
    "language-selector",
    flagPath
)
header.app-bar.app-bar-inactive
  .app-bar__nav-button
  .app-bar__logo
.nav-drawer
  .nav-drawer__header
    .nav-drawer__header--logo
    .nav-drawer__header--text La Caba&ntilde;a
  .nav-drawer__body
    button.nav-drawer__button--left
      span Main
    button.nav-drawer__button--right
      span Breakfast
    button.nav-drawer__button--left
      span Drinks
    button.nav-drawer__button--right
      span Pasta
    button.nav-drawer__button--left
      span Mexican
    button.nav-drawer__button--right
      span Pizzas
    button.nav-drawer__button--left
      span Children
    button.nav-drawer__button--right
      span Desserts
.logo-area
  .logo-container
.menu-content

  - var i = 1

  for dishGroup in dishes
    include mixins
    - if (i % 2 == 0) {
        +menu-content__row-right(dishGroup, lg)
    - } else {
        +menu-content__row-left(dishGroup, lg)
    - }
    - i+=1

.language-pop-up
  .language-pop-up__header
    h3 Change Language
    span.language-pop-up__header--close &#x2716;
  .language-pop-up__body
    .language-pop-up__button
      img.language-pop-up__button__flag(src='../img/uk.png')
      span.language-pop-up__button__text English
    .language-pop-up__button
      img.language-pop-up__button__flag(src='../img/spain.png')
      span.language-pop-up__button__text Espa&ntilde;ol
    .language-pop-up__button
      img.language-pop-up__button__flag(src='../img/norway.png')
      span.language-pop-up__button__text Norsk
    .language-pop-up__button
      img.language-pop-up__button__flag(src='../img/germany.png')
      span.language-pop-up__button__text Deutsch
    .language-pop-up__button
      img.language-pop-up__button__flag(src='../img/sweden.png')
      span.language-pop-up__button__text Svenska
    .language-pop-up__button
      img.language-pop-up__button__flag(src='../img/finland.png')
      span.language-pop-up__button__text Suomi
    .language-pop-up__button
      img.language-pop-up__button__flag(src='../img/denmark.png')
      span.language-pop-up__button__text Dansk
    .language-pop-up__button
      img.language-pop-up__button__flag(src='../img/netherlands.png')
      span.language-pop-up__button__text Nederlands
    .language-pop-up__button
      img.language-pop-up__button__flag(src='../img/italy.png')
      span.language-pop-up__button__text Italiano
    .language-pop-up__button
      img.language-pop-up__button__flag(src='../img/france.png')
      span.language-pop-up__button__text Fran&ccedil;ais
