*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  list-style: none; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body::-webkit-scrollbar {
  width: 12px; }

body::-webkit-scrollbar-track {
  background-color: #292929;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.2); }

body::-webkit-scrollbar-thumb {
  background-color: #5C9EAD;
  border-radius: 20px; }

.body-bg {
  background-color: #414343;
  overflow-x: hidden;
  z-index: -10; }

.carousel-gallery {
  position: relative;
  display: flex;
  justify-content: center;
  height: clamp(200px, 80vw, 600px);
  width: clamp(300px, 70vw, 800px);
  transform-style: preserve-3d;
  z-index: 5; }
  .carousel-gallery img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100%; }
  .carousel-gallery__img {
    position: absolute;
    width: clamp(200px, 80vw, 800px);
    height: clamp(200px, 80vw, 600px);
    transform-style: preserve-3d;
    transition: 1s;
    overflow-x: hidden; }
  .carousel-gallery__img:nth-child(1) {
    transform: translateX(0) translateZ(0); }
  .carousel-gallery__img:nth-child(2) {
    transform: translateX(-45%) translateZ(-50px) scale(0.8); }
  .carousel-gallery__img:nth-child(3) {
    transform: translateX(45%) translateZ(-50px) scale(0.8); }

.floating-reviews {
  z-index: 5; }
  .floating-reviews__container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    height: clamp(300px, 70vh, 800px);
    width: clamp(300px, 70vw, 1500px); }
  .floating-reviews--comment {
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    background-color: rgba(255, 255, 255, 0.8); }
    .floating-reviews--comment__id-container {
      height: 100%;
      width: 30%;
      padding: 5% 0 5% 5%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center; }
    .floating-reviews--comment__content-container {
      height: 100%;
      width: 60%;
      padding: 5% 5% 5% 0;
      display: grid;
      align-items: flex-end;
      grid-template-rows: 25% 25% 50%;
      grid-template-columns: 1fr;
      justify-items: flex-start; }
    .floating-reviews--comment__picture {
      width: clamp(90px, 70%, 200px);
      border-radius: 70%;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat; }
      .floating-reviews--comment__picture:after {
        content: '';
        display: block;
        padding-bottom: 100%; }
    .floating-reviews--comment__username {
      font-family: 'Poppins', sans-serif;
      font-size: clamp(10px, 3vw, 20px);
      color: #414343; }
    .floating-reviews--comment__date {
      font-family: 'Poppins', sans-serif;
      font-size: clamp(5px, 2vw, 15px);
      color: #414343; }
    .floating-reviews--comment__rating {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .floating-reviews--comment__rating div {
        border-radius: 100%;
        width: clamp(15px, 3vw, 30px);
        height: clamp(15px, 3vw, 30px);
        background-color: green;
        border: 3px solid green;
        position: relative;
        box-sizing: border-box; }
    .floating-reviews--comment__title {
      align-self: flex-start;
      margin-top: 2%;
      font-family: 'Poppins', sans-serif;
      font-size: clamp(12px, 2vw, 30px);
      color: #292929; }
    .floating-reviews--comment__description {
      overflow-y: scroll;
      height: 90%;
      margin-top: 10%;
      align-self: center;
      font-family: 'Poppins', sans-serif;
      font-size: clamp(10px, 2vw, 20px);
      color: #414343; }
    .floating-reviews--comment__description::-webkit-scrollbar {
      width: 4px; }
    .floating-reviews--comment__description::-webkit-scrollbar-track {
      background-color: transparent; }
    .floating-reviews--comment__description::-webkit-scrollbar-thumb {
      background-color: green;
      border-radius: 20px; }
    .floating-reviews--comment:last-child .floating-reviews--comment__rating div:last-child {
      background-color: transparent; }

@media only screen and (min-width: 1100px) {
  .floating-reviews__container {
    height: clamp(300px, 90vh, 700px);
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr); }
  .floating-reviews--comment {
    flex-direction: column; }
    .floating-reviews--comment__id-container {
      width: 100%;
      height: 40%;
      padding-top: 5%; }
    .floating-reviews--comment__content-container {
      width: 100%;
      height: 60%;
      padding: 0;
      text-align: center;
      padding-bottom: 5%; }
    .floating-reviews--comment__rating {
      width: auto;
      align-self: center;
      justify-self: center; }
      .floating-reviews--comment__rating div {
        margin-right: 5px; }
    .floating-reviews--comment__title {
      align-self: center;
      justify-self: center;
      margin: 0; }
    .floating-reviews--comment__description {
      padding: 5%; } }

.info-btn {
  width: clamp(30px, calc(40vw * 0.2), 60px);
  height: clamp(30px, calc(40vw * 0.2), 60px);
  display: grid;
  align-items: center;
  justify-items: center;
  margin: 0 10px 10px 0;
  background-color: #5C9EAD;
  border: none;
  cursor: pointer;
  outline: none; }
  .info-btn i {
    font-size: calc((60vh - var(--top)) * 0.25 * 0.25);
    font-weight: 100;
    color: #FFFFFF; }

@media only screen and (min-width: 700px) {
  .info-btn {
    margin: 0 20px 20px 0; } }

.info-pop-up.active {
  transform: translate(-50%, -50%) scale(1); }

.info-pop-up {
  position: fixed;
  display: grid;
  justify-items: center;
  top: 50vh;
  left: 50vw;
  height: clamp(300px, 45vh, 500px);
  width: clamp(100px, 85vw, 750px);
  grid-template-rows: 15% 65% 20%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  z-index: 12;
  background-color: #292929;
  border: 2px solid #5C9EAD; }
  .info-pop-up__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 2px #5C9EAD;
    height: 100%;
    width: 90%;
    padding: 10px 10px 0 10px; }
    .info-pop-up__header h3 {
      display: inline-block;
      padding-left: 5%;
      text-align: left;
      text-transform: uppercase;
      color: #FFFFFF;
      font-family: 'Poppins', sans-serif;
      font-size: clamp(15px, 4.5vw, 60px);
      font-weight: 500; }
    .info-pop-up__header--close {
      display: inline-block;
      align-self: flex-start;
      color: #5C9EAD;
      cursor: pointer;
      font-size: clamp(15px, 2rem, 60px); }
  .info-pop-up__content {
    display: grid;
    grid-template-rows: 0.5fr 1fr;
    align-items: flex-start;
    justify-items: flex-start;
    padding: clamp(15px, 4vw, 40px);
    width: 100%;
    height: 100%;
    overflow-y: scroll; }
    .info-pop-up__content__ingredients {
      text-align: start;
      margin-bottom: 5vw;
      font-family: 'Poppins', sans-serif;
      font-size: clamp(15px, 4.5vw, 40px);
      font-weight: 100;
      color: #FFFFFF; }
      .info-pop-up__content__ingredients::before {
        content: "Ingredients: ";
        font-size: clamp(15px, 4.5vw, 40px);
        color: #5C9EAD;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        margin-right: 4vw; }
    .info-pop-up__content__options-container {
      display: flex;
      width: 100%;
      flex-direction: column;
      justify-content: center; }
      .info-pop-up__content__options-container::before {
        content: "Options:";
        font-size: clamp(15px, 4.5vw, 40px);
        display: block;
        color: #5C9EAD;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        margin-bottom: clamp(10px, 3vw, 20px); }
      .info-pop-up__content__options-container--option {
        position: relative;
        margin-bottom: clamp(10px, 3vw, 20px);
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 4vw;
        background-color: #414343;
        color: #FFFFFF;
        font-family: 'Poppins', sans-serif;
        font-size: clamp(15px, 3vw, 50px); }
        .info-pop-up__content__options-container--option-name {
          font-weight: 400; }
        .info-pop-up__content__options-container--option-price {
          font-weight: 200; }
      .info-pop-up__content__options-container--noOptions {
        color: #FFFFFF;
        font-family: 'Poppins', sans-serif;
        font-size: clamp(15px, 4.5vw, 40px);
        font-weight: 100; }
      .info-pop-up__content__options-container:last-child {
        margin-bottom: 0; }
  .info-pop-up__footer {
    display: block;
    width: 100%;
    height: 100%;
    padding: clamp(10px, 3vw, 20px); }
    .info-pop-up__footer__labels-container {
      display: block;
      width: 100%;
      height: 100%;
      display: grid;
      justify-items: center;
      grid-auto-flow: column;
      grid-auto-columns: calc(20% - 2vw);
      grid-template-rows: 1fr; }
      .info-pop-up__footer__labels-container--label {
        width: 100%;
        height: 100%;
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat; }

.info-pop-up__content::-webkit-scrollbar {
  width: 12px; }

.info-pop-up__content::-webkit-scrollbar-track {
  background-color: #292929;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.2); }

.info-pop-up__content::-webkit-scrollbar-thumb {
  background-color: #5C9EAD;
  border-radius: 20px; }

@media only screen and (min-width: 700px) {
  .info-pop-up__header {
    padding: 20px 20px 20px 20px; }
    .info-pop-up__header--close {
      font-size: clamp(15px, 6vw, 30px); } }

.language-selector {
  display: block;
  position: fixed;
  cursor: pointer;
  width: clamp(50px, 20vw, 150px);
  height: clamp(50px, 20vw, 150px);
  bottom: 5%;
  right: 5%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 100%;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.4);
  z-index: 10; }

.language-pop-up.active {
  transform: translate(-50%, -50%) scale(1); }

.language-pop-up {
  position: fixed;
  display: grid;
  grid-template-rows: 0.2fr 1fr;
  grid-gap: 10px;
  top: 50%;
  left: 50%;
  height: clamp(300px, 45vh, 500px);
  width: clamp(100px, 85vw, 750px);
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  background-color: #292929;
  border: 2px solid #5C9EAD;
  padding: 2rem;
  z-index: 12; }
  .language-pop-up__header {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline; }
    .language-pop-up__header h3 {
      display: inline-block;
      padding-left: 5%;
      text-align: left;
      text-transform: uppercase;
      color: #FFFFFF;
      font-family: 'Poppins', sans-serif;
      font-size: clamp(15px, 5vw, 60px);
      font-weight: 500; }
    .language-pop-up__header--close {
      display: inline-block;
      height: 100%;
      color: #5C9EAD;
      cursor: pointer;
      font-size: 3rem; }
  .language-pop-up__body {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll; }
  .language-pop-up__button {
    position: relative;
    display: grid;
    cursor: pointer;
    grid-template-columns: 40% 60%;
    width: 100%;
    background-color: #414343;
    border: none;
    align-items: center;
    justify-content: center; }
    .language-pop-up__button:not(:last-child) {
      margin-bottom: 1.5rem; }
    .language-pop-up__button__flag {
      overflow: hidden;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%; }
    .language-pop-up__button__text {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      padding: 5px;
      text-align: left;
      text-transform: lowercase;
      color: #FFFFFF;
      font-family: 'Poppins', sans-serif;
      font-size: clamp(15px, 5vw, 60px);
      font-weight: 300; }

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  z-index: 11; }

#overlay.active {
  opacity: 1;
  pointer-events: all; }

.language-pop-up__body::-webkit-scrollbar {
  width: 12px; }

.language-pop-up__body::-webkit-scrollbar-track {
  background-color: #292929;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.2); }

.language-pop-up__body::-webkit-scrollbar-thumb {
  background-color: #5C9EAD;
  border-radius: 20px; }

.loading-anim.active {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.loading-anim {
  display: none;
  position: relative;
  width: 80px;
  height: 80px; }
  .loading-anim div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #5C9EAD;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #5C9EAD transparent transparent transparent; }
  .loading-anim div:nth-child(1) {
    animation-delay: -0.45s; }
  .loading-anim div:nth-child(2) {
    animation-delay: -0.3s; }
  .loading-anim div:nth-child(3) {
    animation-delay: -0.15s; }

@keyframes lds-ring {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }

.location-maps {
  height: 85%;
  width: 100%;
  z-index: 5; }
  .location-maps__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 35vh;
    width: clamp(300px, 70vw, 500px); }

.menu-btn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #5C9EAD;
  border: none;
  outline: inherit;
  cursor: pointer;
  z-index: 5; }
  .menu-btn__container {
    display: block;
    position: relative;
    text-decoration: none;
    height: clamp(50px, 7vh, 70px);
    width: clamp(300px, 70vw, 500px); }
  .menu-btn:hover {
    filter: brightness(1.1); }
  .menu-btn__icon {
    width: 35%;
    height: 100%;
    margin-right: 5%;
    background-image: url("../../public/img/platter.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 100% center; }
  .menu-btn__text {
    width: 65%;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    font-size: clamp(25px, calc((100vw - 150px)*0.05), 40px); }

.menu-option {
  display: grid;
  align-items: end;
  position: relative; }
  .menu-option__card {
    display: grid;
    grid-template-rows: 50% 25% 25%;
    position: relative;
    width: clamp(150px, 100%, 400px);
    height: 90%;
    background-color: #292929; }
    .menu-option__card::before {
      content: ''; }
    .menu-option__card__picture {
      position: absolute;
      display: block;
      box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
      top: -12%;
      left: 50%;
      transform: translateX(-50%);
      overflow: visible;
      width: 90%;
      height: 60%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center; }
    .menu-option__card__title {
      display: flex;
      align-items: flex-start;
      line-height: 100%;
      padding: 10px 0 15px 20px;
      width: 100%;
      overflow: hidden;
      font-family: 'Poppins', sans-serif;
      font-weight: 500;
      font-size: clamp(15px, calc((60vh - 150px)*0.07), 35px);
      color: #5C9EAD; }
    .menu-option__card__footer {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      height: 100%;
      width: 100%; }
    .menu-option__card__price {
      padding: 15px 15px 15px 15px;
      display: flex;
      line-height: 100%;
      align-items: flex-end;
      font-family: 'Poppins', sans-serif;
      font-weight: 300;
      font-size: clamp(48px, calc((60vh - 150px)*0.25), 150px);
      color: #FFFFFF; }
      .menu-option__card__price-cents {
        font-size: clamp(20px, calc((60vh - 150px)*0.05), 50px);
        line-height: 150%; }

@media only screen and (max-width: 700px) {
  .menu-option__card__title {
    padding: 5px 10px 10px 10px; }
  .menu-option__card__price {
    padding: 10px 10px 0 10px; } }

@media only screen and (min-height: 800px) {
  .menu-option__card__price-cents {
    line-height: 200%; } }

@media only screen and (min-height: 1100px) {
  .menu-option__card__title {
    font-size: clamp(15px, calc((60vh - 150px)*0.08), 55px); } }

.menu-section-left {
  position: sticky;
  width: clamp(150px, 100%, 400px);
  background-color: #5C9EAD;
  z-index: -1; }
  .menu-section-left__title {
    transform-origin: left top 0;
    float: left;
    position: absolute;
    padding: 0 10px 0 5px;
    left: 100%;
    transform: rotate(90deg);
    width: calc(60vh - var(--top));
    height: 40vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #FFFFFF; }

.menu-section-right {
  position: relative;
  padding: 10px;
  background-color: #5C9EAD; }
  .menu-section-right__title {
    transform-origin: right top 0;
    float: right;
    position: absolute;
    padding: 5px 0 0 20px;
    right: 100%;
    transform: rotate(-90deg);
    width: calc(60vh - var(--top));
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #FFFFFF; }

.nav-drawer.active {
  visibility: visible;
  transform: translateX(60vw); }

.nav-drawer {
  position: fixed;
  display: grid;
  grid-template-rows: 15% 80% 5%;
  grid-template-columns: 1fr;
  grid-gap: 25px;
  justify-items: center;
  left: -60vw;
  width: 75%;
  height: 100vh;
  transition: 300ms ease-in-out;
  visibility: hidden;
  background-color: #292929;
  z-index: 12; }
  .nav-drawer__header {
    display: grid;
    grid-template-columns: 40% 60%;
    justify-items: center;
    align-items: center;
    height: 100%;
    width: 80%;
    margin-top: 20px;
    padding: 10px;
    border-bottom: medium solid #5C9EAD; }
    .nav-drawer__header--logo {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url("../../public/img/logo.svg");
      background-size: contain; }
    .nav-drawer__header--text {
      display: flex;
      align-items: flex-end;
      width: 100%;
      height: 100%;
      text-transform: lowercase;
      font-family: 'Poppins', sans-serif;
      font-size: clamp(15px, 6vw, 60px);
      color: #FFFFFF;
      font-weight: 300; }
  .nav-drawer__body {
    overflow-y: scroll;
    overflow-x: hidden;
    display: grid;
    grid-row-gap: 10px;
    grid-auto-flow: row;
    grid-auto-rows: calc(30vh - var(--top));
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 100%;
    scrollbar-width: none; }
    .nav-drawer__body::after {
      content: '';
      height: 100%; }
    .nav-drawer__body::-webkit-scrollbar {
      display: none; }
  .nav-drawer__button-container {
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%; }
  .nav-drawer__button--left {
    border: none;
    outline: inherit;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: flex-end;
    height: 95%;
    width: 100%;
    padding-left: 1rem;
    margin: 2rem auto;
    background-color: #292929;
    text-transform: lowercase;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: clamp(20px, 10vw, 80px);
    color: #FFFFFF;
    border-left: 15px solid #5C9EAD; }
  .nav-drawer__button--right {
    border: none;
    outline: inherit;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 95%;
    width: 100%;
    background-color: #292929;
    padding-right: 1rem;
    margin: 2rem auto;
    text-transform: lowercase;
    text-align: right;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: clamp(20px, 10vw, 90px);
    color: #FFFFFF;
    border-right: 15px solid #5C9EAD; }

@media only screen and (min-width: 1100px) {
  .nav-drawer {
    width: 50%; } }

.social-links__button--small {
  width: 85%;
  height: 85%;
  position: relative;
  filter: brightness(0.8); }
  .social-links__button--small:hover {
    filter: brightness(1.1); }

.social-links__container {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 60px;
  position: relative;
  width: clamp(300px, 70vw, 500px);
  z-index: 5; }
  .social-links__container--fb {
    width: 100%;
    height: 100%;
    background-image: url("../../public/img/facebook.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; }
  .social-links__container--google {
    width: 100%;
    height: 100%;
    background-image: url("../../public/img/google.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; }
  .social-links__container--tripadvisor {
    width: 100%;
    height: 100%;
    background-image: url("../../public/img/tripadvisor.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; }

.app-bar {
  position: fixed;
  height: 10vh;
  width: 100vw;
  display: grid;
  align-items: center;
  grid-template-columns: 25% 50% 25%;
  z-index: 10; }
  .app-bar__nav-button {
    position: relative;
    cursor: pointer;
    height: 50%;
    width: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../../public/img/bars.svg");
    background-size: contain; }
  .app-bar__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    visibility: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../../public/img/logo.svg");
    background-size: contain; }
    .app-bar__logo::after {
      content: '';
      width: 100%; }

.app-bar-active {
  background-color: #292929;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2); }

.app-bar-inactive {
  background-color: transparent;
  box-shadow: none; }

@media only screen and (min-width: 1100px) {
  .app-bar__nav-button {
    width: 50%; } }

.menu-content {
  --gutter: 10px;
  --top: 150px;
  position: relative;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  display: grid;
  grid-row-gap: 50px;
  grid-auto-flow: row;
  grid-auto-rows: calc(60vh - var(--top));
  grid-template-columns: minmax(300px, 1fr); }
  .menu-content__row-container {
    position: relative;
    width: 100%;
    height: 100%; }
  .menu-content__row-left {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: clamp(150px, 40vw, 400px);
    grid-auto-flow: column;
    grid-auto-columns: clamp(150px, calc(50% - var(--gutter)*2), 400px);
    grid-template-rows: minmax(150px, 1fr);
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none; }
    .menu-content__row-left::-webkit-scrollbar {
      display: none; }
    .menu-content__row-left::after {
      content: '';
      width: 5px; }
    .menu-content__row-left-title {
      display: inline-block;
      width: 100%;
      background-color: #5C9EAD; }
  .menu-content__row-right {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    grid-auto-flow: column;
    grid-auto-columns: clamp(150px, calc(50% - var(--gutter) * 2), 400px);
    grid-template-rows: minmax(150px, 1fr);
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none; }
    .menu-content__row-right::-webkit-scrollbar {
      display: none; }
    .menu-content__row-right::before {
      content: ''; }
    .menu-content__row-right-title {
      display: inline-block;
      width: 100%;
      background-color: #5C9EAD; }

.menu-content > * {
  grid-column: 2 / -2; }

.menu-content > .full {
  grid-column: 1 / -1; }

.logo-area {
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30vh;
  width: 100vw;
  padding: 10px;
  margin-bottom: 20px; }

.logo-container {
  display: block;
  position: relative;
  width: 50%;
  height: 80%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../public/img/logo.svg");
  background-size: contain;
  background-position: 49%; }

.logo-title {
  display: block;
  font-family: 'Poppins', sans-serif;
  color: #FFFFFF;
  text-align: center;
  font-size: clamp(32px, calc((100vw - 150px)*0.07), 60px); }

.logo-subtitle {
  display: block;
  justify-self: flex-start;
  font-family: 'Poppins', sans-serif;
  color: #5C9EAD;
  text-align: center;
  font-size: clamp(15px, calc((100vw - 150px)*0.04), 30px); }

.home-content {
  position: relative;
  display: grid;
  justify-items: center;
  overflow-x: hidden;
  background-color: #414343;
  z-index: 5;
  grid-row-gap: 36px;
  grid-auto-flow: row;
  grid-auto-rows: calc(60vh - var(--top));
  grid-template-columns: minmax(300px, 1fr); }

.home-section {
  display: grid;
  position: relative;
  justify-items: center;
  grid-row-gap: 16px;
  grid-auto-flow: row;
  grid-auto-rows: calc(40vh - var(--top));
  grid-template-columns: minmax(300px, 1fr); }
  .home-section__subtitle {
    padding-bottom: 2vh;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    font-weight: 200;
    font-size: clamp(20px, calc((100vw - 150px)*0.04), 50px);
    z-index: 5; }

.home-footer {
  display: block;
  padding: 2vh 0 5vh 0;
  width: clamp(300px, 70vw, 500px);
  border-top: 2px solid #5C9EAD;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: clamp(15px, calc((100vw - 150px)*0.04), 25px);
  color: #959999; }

.sticky {
  position: fixed;
  top: 0; }
