// COLORS
$color-primary: #1a180b;
$color-secondary: #3A353A;
$color-tertiary: #F8F2C7;

$color-brown-dark: #645736;
$color-brown-light: #C5B488;

$color-white: #fff;
$color-white-transparent: rgba(255, 255, 255, 0.5);
$color-black: #000;
$color-black-transparent: rgba(0, 0, 0, 0.5);
$color-black-extra-transparent: rgba(0, 0, 0, 0.1);

$jet-black: #292929;
$light-grey: #414343;
$cadet-blue: #5C9EAD;
$gainsboro: #E2DADB;
$white: #FFFFFF;