.info-btn {
    width: fit-content;
    padding: 10px 15px;
    display: grid;
    align-items: center;
    justify-items: center;

    margin: 0 10px 10px 0;

    background-color: $cadet-blue;
    border: none;
    cursor: pointer;
    outline: none;

    i {
        font-size: calc((60vh - var(--top)) * 0.25 * 0.25);
        font-weight: 100;
        color: $white;
    }

}

@media only screen and (min-width: 700px) {
    .info-btn {
        margin: 0 20px 20px 0;
    }
}