.info-pop-up.active {
    transform: translate(-50%, -50%) scale(1);
}

.info-pop-up {
    position: fixed;
    display: grid;
    justify-items: center;
    top: 50vh;
    left: 50vw;
    height: clamp(300px, 45vh, 700px);
    width: clamp(100px, 85vw, 800px);
    grid-template-rows: 15% 65% 20%;

    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    z-index: 12;

    background-color: $jet-black;
    border: 2px solid $cadet-blue;

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: solid 2px $cadet-blue;
        height: 100%;
        width: 90%;

        padding: 10px 10px 0 10px;

        h3 {
            display: inline-block;
            padding-left: 5%;
            text-align: left;
            text-transform: uppercase;
            color: $white;
            font-family: 'Poppins', sans-serif;
            font-size: clamp(15px, 4.5vw, 40px);
            font-weight: 500;
        }

        &--close {
            display: inline-block;
            align-self: flex-start;
            color: $cadet-blue;
            cursor: pointer;
            font-size: clamp(15px, 2rem, 60px);
        }

    }

    &__content {
        display: grid;
        position: relative;
        grid-template-rows: 0.2fr 1fr;
        align-items: flex-start;
        justify-items: flex-start;
        padding: clamp(15px, 4vw, 30px);; 
        width: clamp(90px, 80vw, 750px);
        height: 100%;
        overflow-y: scroll;

        &__ingredients {
            text-align: start;

            margin-bottom: 5vw;

            font-family: 'Poppins', sans-serif;
            font-size: clamp(15px, 4.5vw, 40px);
            font-weight: 100;

            &::before {
                content: attr(ingredients);
                display: block;
                font-size: clamp(15px, 4.5vw, 40px);
                color: $cadet-blue;
                font-family: 'Poppins', sans-serif;
                font-weight: 400;
                margin-right: 4vw;
                margin-bottom: clamp(10px, 3vw, 20px);
            }

            color: $white;
        }

        &__options-container {

            display: flex;
            width: 100%;
            flex-direction: column;
            justify-content: center;

            &::before {
                content: attr(options);
                font-size: clamp(15px, 4.5vw, 40px);
                display: block;
                color: $cadet-blue;
                font-family: 'Poppins', sans-serif;
                font-weight: 400;
                margin-bottom: clamp(10px, 3vw, 20px);
            }

            &--option {
                position: relative;
                margin-bottom: clamp(10px, 3vw, 20px);
                width: 100%;
                display: flex;
                justify-content: space-between;
                padding: clamp(10px, 4vw, 40px);
                background-color: $light-grey;

                color: $white;
                font-family: 'Poppins', sans-serif;
                font-size: clamp(15px, 3vw, 30px);

                &-name {
                    font-weight: 400;
                }

                &-price {
                    font-weight: 200;
                }
                
            }

            &--noOptions {
                color: $white;
                font-family: 'Poppins', sans-serif;
                font-size: clamp(15px, 4.5vw, 30px);
                font-weight: 100;
            }

            &:last-child {
                margin-bottom: 0;
            }

        }


    }

    &__footer {
        display: block;
        width: 100%;
        height: 100%;
        padding: clamp(10px, 3vw, 20px);

        &__labels-container {
            display: block;
            width: 100%;
            height: 100%;

            display: grid;
            justify-items: center;
            grid-auto-flow: column;
            grid-auto-columns: calc(20% - 2vw);
            grid-template-rows: 1fr;

            &--label {
                width: 100%;
                height: 100%;
                background-size: contain;
                background-position: center center;
                background-repeat: no-repeat;
            }
        }
    }

}

// Scrollbar Styling
.info-pop-up__content::-webkit-scrollbar {
    width: 8px;
}

.info-pop-up__content::-webkit-scrollbar-track {
    background-color: $jet-black;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.2);
}

.info-pop-up__content::-webkit-scrollbar-thumb {
    background-color: $cadet-blue;
    border-radius: 20px;
}

@media only screen and (min-width: 700px) {
    .info-pop-up {
        &__header {
            padding: 20px 20px 20px 20px;

            &--close {
                font-size: clamp(15px, 6vw, 30px);
            }
        }
    }
}