.language-selector {
    position: absolute;
    display: flex;
    align-items: center;
    overflow: auto;
    width: 10rem;
    height: 10rem;
    top: 20%;
    right: 4%;

    z-index: 2;

    &__button {
        display: inline-block;
        color: transparent;
        border-color: transparent;
        background-color: transparent;
    }

    
    &__flag-box {
        display: inline-block;
        width: 7rem;
        height: 7rem;
        margin-right: 3px;
        background-size: cover;
        background-position: center;
        background-image: url(../img/uk.png);

        -webkit-clip-path: circle(3.5rem at 50%);
        clip-path: circle(3.5rem at 50%);
    }

}
