.language-pop-up.active {
    transform: translate(-50%, -50%) scale(1);
}

.language-pop-up {
    position: fixed;
    display: grid;

    grid-template-rows: 0.2fr 1fr;
    grid-gap: 10px;

    top: 50%;
    left: 50%;
    height: clamp(300px, 45vh, 500px);
    width: clamp(100px, 85vw, 750px);
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    background-color: $jet-black;
    
    border: 2px solid $cadet-blue;
    padding: 2rem;
    
    z-index: 12;

    &__header {
        width: 100%;
        height: 100%;

        display: flex;
        justify-content: space-between;
        align-items: baseline;

        h3 {
            display: inline-block;
            padding-left: 5%;
            text-align: left;
            text-transform: uppercase;
            color: $white;
            font-family: 'Poppins', sans-serif;
            font-size: clamp(15px, 5vw, 60px);
            font-weight: 500;
        }

        &--close {
            display: inline-block;
            height: 100%;
            color: $cadet-blue;
            cursor: pointer;
            font-size: 3rem;
        }
    }

    &__body {
        position: relative;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
    }

    &__button {
        position: relative;
        display: grid;
        cursor: pointer;
        grid-template-columns: 40% 60%;
        width: 100%;

        background-color: $light-grey;
        border: none;

        &:not(:last-child) {
            margin-bottom: 1.5rem;
        }

        align-items: center;
        justify-content: center;
        
        &__flag {
            overflow: hidden;
            position: relative;
            display: block;
            height: 100%;
            width: 100%;
        }

        &__text {
            display: grid;
            justify-items: center;
            align-items: center;
            width: 100%;
            height: 100%;
            padding: 5px;
            text-align: left;
            text-transform: lowercase;
            color: $white;
            font-family: 'Poppins', sans-serif;
            font-size: clamp(15px, 5vw, 60px);
            font-weight: 300;
        }

    }
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;

    z-index: 11;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

// Scrollbar Styling
.language-pop-up__body::-webkit-scrollbar {
    width: 12px;
}

.language-pop-up__body::-webkit-scrollbar-track {
    background-color: $jet-black;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.2);
}

.language-pop-up__body::-webkit-scrollbar-thumb {
    background-color: $cadet-blue;
    border-radius: 20px;
}
