@import '../utilities/mixins';

.language-selector {
    display: block;
    position: fixed;
    width: 8rem;
    height: 8rem;
    
    bottom: 5%;
    right: 5%;

    @include bg-image-center(url('../../public/img/uk.png'));
    border-radius: 100%;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.4);

    z-index: 10;

}
