.location-maps {

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        height: 40vh;
        width: clamp(300px, 70vw, 800px)
    }

    height: 85%;
    width: 100%;

    z-index: 5;
}