.main-title {
        position: absolute;
        display: block;
        bottom: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 3;

        font-size: 3rem;
        text-transform: uppercase;
        font-family: 'Rubik', sans-serif;
        

        background: url(../img/title_bg.jpg);
        background-size: cover;
        background-position: bottom;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
}