@import '../utilities/mixins';

.menu-option {

    display: grid;
    align-items: end;
    position: relative;

    width: 215px;

    &__card {
        display: grid;
        grid-template-rows: 50% 25% 25%;

        position: relative;

        width: $card-width;
        height: 90%;

        background-color: $jet-black;

        &::before {
            content: '';
        }

        &__picture {
            position: absolute;
            display: block;
            box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
            top: -12%;
            left: 50%;
            transform: translateX(-50%);
            overflow: visible;
            width: 195px;
            height: 60%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }

        &__title {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            line-height: 100%;
            text-align: start;
            width: $card-width - 20px;
            margin: 10px;
            padding-left: 5px;
            overflow: hidden;
            font-family: 'Poppins', sans-serif;
            font-weight: 500;
            font-size: clamp(15px, calc((55vh - 175px)*0.07), 35px);
            color: $cadet-blue;
            direction: ltr;
        }

        &__footer {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            height: 100%;
            width: $card-width;
            direction: ltr;
        }

        &__price {
            padding: 15px 15px 15px 15px;
            display: flex;
            max-width: 160px;
            line-height: 100%;
            align-items: flex-end;
            font-family: 'Poppins', sans-serif;
            font-weight: 300;
            font-size: clamp(48px, calc((55vh - 175px)*0.25), 150px);
            color: $white;

            &-cents {
                font-size: clamp(20px, calc((60vh - 150px)*0.05), 50px);
                line-height: 150%;
            }

        }

    }

}

@media only screen and (min-height: 800px) {

    .menu-option {
        &__card {

            &__price {
                &-cents {
                    line-height: 200%;
                }
            }
        }
    }
}

@media only screen and (min-height: 1100px) {
    .menu-option {
        &__card {
            &__title {
                font-size: clamp(15px, calc((60vh - 150px)*0.08), 55px);
            }
        }
    }
}

