.menu-section-left {
    position: sticky;
    width: clamp(150px, 100%, 400px);
    background-color: $cadet-blue;
    z-index: -1;
    
    &__title {
        transform-origin: left top 0;
        float: left;
        position: absolute;
        padding: 0 10px 0 5px;
        left: 100%;
        transform: rotate(90deg);

        width: calc(60vh - var(--top));
        height: 40vw;
        
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        color: $white;        
    }

}

.menu-section-right {
    position: relative;
    padding: 10px;
    background-color: $cadet-blue;

    &__title {
        transform-origin: right top 0;
        float: right;
        position: absolute;
        padding: 5px 0 0 20px;
        right: 100%;
        transform: rotate(-90deg);

        width: clamp(150px, calc(60vh - var(--top)), 400px);
        // height: 40vw;
        
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        color: $white;             
    }

}

