.social-links {

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        height: 35vh;
        width: clamp(300px, 70vw, 500px)
    }

    height: 85%;
    width: 100%;
    background-color: orangered;

    z-index: 5;
}