.home {

    &-content {
        position: relative;
        display: grid;
        justify-items: center;

        overflow-x: hidden;

        background-color: $light-grey;
        z-index: 5;

        grid-row-gap: 36px;
        grid-auto-flow: row;
        grid-auto-rows: calc(60vh - var(--top));
        grid-template-columns: minmax(300px, 1fr);
    }

    &-section {
        display: grid;
        position: relative;
        justify-items: center;
    
        grid-row-gap: 16px;
        grid-auto-flow: row;
        grid-auto-rows: calc(40vh - var(--top));
        grid-template-columns: minmax(300px, 1fr);
    
        &__subtitle {
            padding-bottom: 2vh;
            font-family: 'Poppins', sans-serif;
            color: $white;
            font-weight: 200;
            font-size: clamp(20px, calc((100vw - 150px)*0.04), 50px);
    
            z-index: 5;
        }
    }

    &-footer {
        display: block;
        padding: 2vh 0 5vh 0;

        width: clamp(300px, 70vw, 500px);

        border-top: 2px solid $cadet-blue;

        text-align: center;
        font-family: 'Poppins', sans-serif;
        font-size: clamp(15px, calc((100vw - 150px)*0.04), 25px);
        color: #959999;
    }

}


@media only screen and (min-width: 1100px) {
    // .home-content {
    //     grid-column-gap: 36px;
    //     grid-auto-flow: column;
    //     grid-auto-rows: minmax(300px, 1fr);
    //     grid-template-columns: calc(60vw - var(--top));
    // }
}